In [1]:
from data.src.emg import EMGData

In [2]:
tags = {'channels': ['CH1_4680', 'CH2_4680'], 'time': 'Timestamp_4680', 'event': 'Event_4680'}
data = EMGData.read_csv('/Users/aldenmoreton/Documents/iron_handmaidens/test_data/participant1/A/Shimmer_4680.csv', **tags)

In [11]:
data.channels = data.channels.rolling(3).mean()

In [4]:
data.channels = data.moving_average(data[['CH']])

In [12]:
data.df

         Timestamp_4680  Status_4680  CH1_4680  CH2_4680  Event_4680
0          1.635975e+12        128.0       NaN       NaN         0.0
1          1.635975e+12        128.0       NaN       NaN        -1.0
2          1.635975e+12        128.0      15.0      15.0        -1.0
3          1.635975e+12        128.0      15.0      15.0        -1.0
4          1.635975e+12        128.0      15.0      15.0        -1.0
...                 ...          ...       ...       ...         ...
1540876    1.635976e+12        128.0      15.0      15.0        -1.0
1540877    1.635976e+12        128.0      15.0      15.0        -1.0
1540878    1.635976e+12        128.0      15.0      15.0        -1.0
1540879    1.635976e+12        128.0      15.0      15.0        -1.0
1540880    1.635976e+12        128.0      15.0      15.0        -1.0

[1540881 rows x 5 columns]